*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/*-------------------------NAVBAR--------------------------*/
/* nav */
header {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navigation-bar {
    background: #00000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 2px solid #fff;
    padding: 10px;
}

/* LOGO */
.logo-the_fan {
  width: 100px;
  height: auto;
}

.logo_link {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.logo_link:hover {
    border-bottom: 0.5px dashed #fff;
}

/* ul */
.container-three-celebrities {
    display: flex;
    text-transform: uppercase;
}

/* li */
.container-one-celebrities {
    margin-left: 25px;
    list-style-type: none;
    cursor: pointer;
    /* border-right: #fff 2px solid; */
}

/* a */
.link-one-celebrities {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
/* a */
.link-one-celebrities:hover {
    color: #adadad;
    text-decoration: none;
}


/*-------------------------MAIN--------------------------*/

/* MISE EN PAGE */



/* ENTRANCE */
.bg-entrance {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
    url('image/MJ-portrait.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-entrance {
    color: #000;
    font-size: 100px;
    text-align: center;
}

/* BANNER */
.banner {
    background-color: #1F858F;
    text-align: center;
    padding: 50px;
    margin: 50px 0 25px 0;
    transform: rotate(1deg);
}

.subtitle {
    font-size: 50px;
    color: #fff;
}

/* BIOGRAPHY */
.biography-text {
    text-align: justify;
    font-size: 16px;
    padding-bottom: 0.5em;
    margin: 0.5em 2rem 0 0;
}

.biography-container {
    display: flex;
    padding: 0 5px 0 5px;
}

.mj_img {
    border-radius: 15px;
}
.mj_img_deux {
    border-radius: 15px;
}

/* ACTUALILTY */
.card {
    --border-radius: 0.75rem;
    --primary-color: #1f858f;
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    position: relative;
    margin-bottom: 15px;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }
  
  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card svg {
    transition: 0.2s;
  }
  
  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .card:hover .card__arrow {
    background: #111;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }


/* ÉVÉNEMENT */
.parent-container-ticket {
  font-family: 'Inknut Antiqua', serif;
  font-family: 'Ravi Prakash', cursive;
  font-family: 'Lora', serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Cabin', sans-serif;
}
.container-ticket {
  overflow: hidden;
}
.container-ticket .item {
  width: 48%;
  float: left;
  padding: 0 20px;
  background: #ddd;
  overflow: hidden;
  margin: 10px;
  border-radius: 15px;
}
.container-ticket .item-right, .container-ticket .item-left {
  float: left;
  padding: 20p;
}
.container-ticket .item-right {
  padding: 79px 50px;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 286px;
}
.container-ticket .item-right .up-border, .container-ticket .item-right .down-border {
    padding: 14px 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
.container-ticket .item-right .up-border {
  top: -8px;
  right: -35px;
}
.container-ticket .item-right .down-border {
  bottom: -13px;
  right: -35px;
}
.container-ticket .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.container-ticket .item-right .day, .container-ticket .item-left .event {
  color: #555;
  font-size: 20px;
  margin-bottom: 9px;
}
.container-ticket .item-right .day {
  text-align: center;
  font-size: 25px;
}
.container-ticket .item-left {
  width: 71%;
  padding: 34px 0px 19px 46px;
  border-left: 3px dotted #999;
} 
.container-ticket .item-left .title {
  color: #111;
  font-size: 34px;
  margin-bottom: 12px;
}
.container-ticket .item-left .sce {
  margin-top: 5px;
  display: block;
}
.container-ticket .item-left .sce .icon, .container-ticket .item-left .sce p,
.container-ticket .item-left .loc .icon, .container-ticket .item-left .loc p{
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.container-ticket .item-left .sce .icon, .container-ticket .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666;
}
.container-ticket .item-left .loc {display: block}
.fix {clear: both}
.container-ticket .item .tickets, .booked, .cancel{
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.container-ticket .item .tickets {background: #777}
.container-ticket .item .booked {background: #3D71E9}
.container-ticket .item .cancel {background: #DF5454}
.linethrough {text-decoration: line-through}
@media only screen and (max-width: 1150px) {
  .container-ticket .item {
    width: 100%;
    margin-right: 20px
  }
}


/* GALERY IMAGE/VIDEO */
video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 0.6rem;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .galery::after {
    content:'';
    display:block;
    flex-grow: 10;
  }
  .galery li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
  }
  .galery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }


/* RÉALISATION */
.player-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
}


/* LINKS */


/*-------------------------FOOTER--------------------------*/
  footer {
    border-top: 1px dashed #000;
}
.content-footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 50px 0 100px;
}

/* contact */
.footer-services h3,
.footer-medias h3 {
    font-size: 22px;
    padding-bottom: 20px;
}

/* Services */
.services-list,
.media-list {
    list-style-type: none;
}

/* Medias */
.media-list {
    position: relative;
    right: 10px;
    display: flex;
}


/* --------------------
      MÉDIA QUERIES
   -------------------- */
   .fa-solid {
    color: #fff;
   }
   @media only screen and (min-width: 426px) { /* Supérieur a 426px */
    /*Je déclare m-90 pour marger tout les élément à 80%*/
    .m-90 {
      margin: 0 10% 5%;
    }

      /* BIOGRAPHIE */
      /* .mj_img_deux {
        display: none;
      } */
   }


    /* Média query supérieur à 769px */
  @media only screen and (min-width: 769px) {
    .menu-burger {
      display: none;
      cursor: pointer;
      }

    .mj_img_deux {
      display: none;
    }

    .biography-container {
      display: flex;
      align-items: center;
    }

    /* Masquer la barre de défilement horizontale */
    ::-webkit-scrollbar {
      display: none;
    }
  }


   /* Média query pour les écrans entre 425px et 768px */
  @media only screen and (min-width: 425px) and (max-width: 768px) {
      .mj_img {
        display: none;
      }
  }


  @media only screen and (max-width: 768px) { /* Inférieur a 768px */
        /* Navigation */
        header {
          top: 25px;
        }

        /* Logo */
        .logo-the_fan {
          width: 75px;
          height: auto;
        }

        .logo_link {
          font-size: 20px;
        }

        /* Link Navabar */
        .container-three-celebrities {
          display: none;
        }


      /* BIOGRAPHIE */
      .biography-container {
        display: flex;
        flex-direction: column-reverse;
      }
    
      .biography-text {
        font-size: 16px;
        margin: -1rem 0rem 0 0;
      }
    
      .card .card__content {
        font-size: 0.8rem;
      }
    
      .card .card__title {
        font-size: 1rem;
      }
    
      .card .card__date {
        font-size: 0.7rem;
      }
      
      .cadre {
        display: flex;
        justify-content: center;
        overflow: auto;
        border-radius: 15px;
      }

    .mj_img { /* Image 1*/
      display: none;
    }

  }


   @media only screen and (max-width: 425px) { /* Inférieur a 425px */
    /*Je déclare m-90 pour marger tout les élément à 80%*/
    .m-90 {
      margin: 5% 5% 15%;
    }

    /* Navigation */
    header {
      top: 5px;
    }
  
    /* Main */
    .bg-entrance {
      height: 80vh;
    }
  
    .title-entrance {
      font-size: 50px;
    }
  
    .banner {
      padding: 30px;
      margin: -15px 0 15px 0;
    }
  
    .subtitle {
      font-size: 30px;
    }
  
    /* Événement */
    .container-ticket .item {
      width: 100%;
      margin: 10px 0;
    }
  
    .container-ticket .item-right {
      width: 40%;
      padding: 50px;
    }
  
    .container-ticket .item-left {
      width: 60%;
      padding: 20px 0 10px 20px;
    }
  
    .container-ticket .item-right .num {
      font-size: 40px;
    }
  
    .container-ticket .item-right .day {
      font-size: 20px;
    }
  
    .container-ticket .item-left .title {
      font-size: 24px;
    }
  
    .container-ticket .item-left .sce, .container-ticket .item-left .loc {
      margin-top: 3px;
    }
  
    /* Galerie */
    .galery li {
      height: 150px;
    }
  
    /* Footer */
    .content-footer {
      flex-direction: column;
      padding: 20px 0;
    }
  
    .footer-services h3,
    .footer-medias h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  
    .services-list,
    .media-list {
      font-size: 14px;
    }
  
    .media-list {
      right: 0;
    }
  }
  