/* Remet à zéro tout les bordure, marges et remplissage incluse par defaut des navigateurs */
*, ::before, ::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/*Je déclare des margin 10% (m-90) pour marger tout les élément à 90%*/
.m-90 {
    margin: 0 10%;
}

/*------------------------- NAVBAR --------------------------*/

header { /* En-tête */
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 3;
}

.navigation-bar { /* Barre de navigation */
    background: #00000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 2px solid #fff;
    padding: 10px;
}

.logo-the_fan { /* Logo */
    width: 100px;
    height: auto;
  }
  
.logo_link { /* Liens du logo */
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


/* ul */
.container-three-celebrities { /* Liste des célébrités */
    display: flex;
}

/* li */
.container-one-celebrities { /* Élément de la liste des célébrités */
    margin-left: 25px;
    list-style-type: none;
    cursor: pointer;
    /* border-right: #fff 2px solid; */
}

/* a */
.link-one-celebrities { /* Lien des célébrités */
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
/* a */
.link-one-celebrities:hover {  /* Effet au survol des liens des célébrités */
    color: #adadad; 
    text-decoration: none;
}


/*------------------------- MAIN --------------------------*/ 

/* --> Bob Marley <-- */
.title { /* Titre en background */
    color: #fff;
    text-shadow: 0px 5px 5px #000;
}

.paragraphe {
    text-shadow: 0px 5px 5px #000;
    font-size: 16px;
}

.btn-fan {
    margin-top: 25px;
}

.btn-fan-explore {
    text-decoration: none;
    background: #00000080;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid #fff;
    margin-top: 10px;
}

.btn-fan-explore:hover {
    backdrop-filter: blur(25px);
    background: #ffffff77;
    text-shadow: 0px 5px 5px #000;
}

.container-presentation-bob_marley { /* Présentation de Bob Marley */
    background: url(./image/BM-portrait.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid #fff;
}

.container-information-bob_marley { /* Informations sur Bob Marley */
    font-size: 20px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    border-radius: 25px;
    background: hwb(0deg 0% 100% / 50%);
    backdrop-filter: blur(5px);
    padding: 25px;
}


/* --> Michael Jackson <-- */
.container-presentation-michael_jackson { /* Présentation de Michael Jackson */
    background: url(./image/MJ-portrait.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid #fff;
}

.container-information-michael_jackson { /* Informations sur Michael Jackson */
    font-size: 20px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    border-radius: 25px;
    background: hwb(0deg 0% 100% / 50%);
    backdrop-filter: blur(5px);
    padding: 25px;
}

/* --> Lana del Rey <-- */
.container-presentation-lana_del_rey { /* Présentation de Lana del Rey */
    background: url(./image/lana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid #fff;
    box-shadow: #000 0 7px 35px 0;
}

.container-information-lana_del_rey { /* Informations sur Lana del Rey */
    font-size: 20px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    border-radius: 25px;
    background: hwb(0deg 0% 100% / 50%);
    backdrop-filter: blur(5px);
    padding: 25px;
}

/*------------------------- FOTTER --------------------------*/ 

main { /* Style pour le main avec effet parallax */
    position: relative;
    z-index: 2;
    background: #000;
    min-height: 1500px; 
    margin-bottom: 350px; 
}
  
.parallax-footer { /* Style pour le footer avec effet parallax */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 350px; /* Hauteur du footer */
    padding: 50px;
    background: #f1f1f1;
    font-size: 20px;
    color: #000;
    z-index: 1; /* Assure que le footer reste en avant-plan */
}
  
.parallax-footer::before {  /* Effet parallax */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: translateZ(-1px) scale(1.5); /* Joue avec les valeurs pour ajuster l'effet */
}

.footer-container { /* Conteneur du footer */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.copyright { /* Droits d'auteur */
    text-align: center;
    margin-top: 10%;
  }